/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLING */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    background-color: #b4d7ff;
}

/* CARD */
.card {
    background-color: #ffffff;
    display: flex;
    padding: 20px;
    margin: 30px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000;
}

/* CARD DESCRIPTION STYLE */
.card-right {
    margin-top: 30px;
    margin-left: 20px;
    line-height: 27px;
    font-weight: bold;
}

/* IMG FIX */
img {
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #000;
}