/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY STYLING */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    flex-direction: column;
}

/* CARD */
.card {
    background-color: #ffffff;
    display: flex;
    margin: 30px 20px;
    box-shadow: 2px 2px 5px #000;
    padding-right: 30px;
}

/* CARD DESCRIPTION STYLE */
.card-right {
    margin-top: 30px;
    margin-left: 20px;
    line-height: 36px;
    font-size: 1.15rem;
}

/* IMG FIX */
img {
    width: 400px;
}